### Q1. Create a list of five integers and print it.

In [1]:
s=[3,2,6,2,1]
print(s)

[3, 2, 6, 2, 1]

### Q2. Write a program to find the length of a list.

In [2]:
s=[3,2,6,2,1]
print(len(s))

5

### Q3. Create a tuple with three elements and print the second item.

In [4]:
t=("Ahmed","Mohamed","Ali")
print(t)
print("The second item is:", t[1])

('Ahmed', 'Mohamed', 'Ali')
The second item is: Mohamed

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [18]:
my_dict = { "name": "mohamed", "age": 25, "city": "cairo"}


print("Keys in the dictionary:", my_dict.keys())

Keys in the dictionary: dict_keys(['name', 'age', 'city'])

### Q5. Write a program to convert a list into a set.

In [19]:
l = [1, 2, 2, 3, 4, 4, 5]

l = set(l)

print("Original list:", l)
print("Converted set:", l)

Original list: {1, 2, 3, 4, 5}
Converted set: {1, 2, 3, 4, 5}

### Q6. Create a string and print its first and last characters.

In [21]:
my_str="Hello Amit"
print(my_str)
print("first char",my_str[0])
print("last char",my_str[-1])

Hello Amit
first char H
last char t

### Q7. Take input from the user and print it.

In [22]:
i=input("enter your name")
print (i)

mohamed

### Q8. Write a program to add two numbers entered by the user.

In [28]:
num1=float(input("enter f number"))
num2=float(input("enter sec number"))
sum=num1+num2
print(f"the sum {num1} and {num2}is{sum}")

the sum 3.0 and 5.0is8.0

### Q9. Use `type()` function to check the data type of a variable.

In [29]:

a = 25
b = "ali"
print(type(a), type(b))

<class 'int'> <class 'str'>

### Q10. Create a boolean variable and print it.

In [34]:
salary = [9000, 8505, 7000, 9100, 9180]
print(max(salary))
print(min(salary))

9180
7000

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [49]:
num = float(input("Enter a number"))
if num > 0:
 print(f"{num} the number is a positive number.")
elif num < 0:
 print(f"{num}the number is a negative number.")
else:print("The number is zero.")

The number is zero.

### Q12. Write a program to check if a number is even or odd.

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
 print(f"{num} is an even number.")
else:
 print(f"{num} is an odd number.")

4 is an even number.

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [55]:
name = "mohamed" 
for _ in range(3):
    print(name)

mohamed
mohamed
mohamed

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [60]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [57]:
my_list = ["apple", "banana", "cherry", "car"]
for item in my_list:
    print(item)

apple
banana
cherry
car

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [58]:
s = 0 

for num in range(1, 101):
   s += num

print(f"The sum of numbers from 1 to 100 is: {s}")

The sum of numbers from 1 to 100 is: 5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [61]:
for num in range(2, 21, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [62]:
A = "mohamed"
for i in A:
    print(i)

m
o
h
a
m
e
d

### Q19. Use a `for` loop to print all values in a dictionary.

In [ ]:
my_dict = {'name': 'mohamed', 'age': 23, 'city': 'cairo'}
for value in my_dict.values():
    print(value)

mohamed
23
cairo

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [69]:
num = int(input("Enter a non-negative integer: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i  
print(f"The factorial of {num} is: {factorial}")

The factorial of 4 is: 24

### Q21. Create a list of your 5 favorite fruits.

In [75]:
favorite_fruits = "Mango", "Strawberry", "Pineapple", "Blueberry", "Watermelon"
print("My 5 favorite fruits are:")
for i in range(len(favorite_fruits)):
    print(favorite_fruits[i])

My 5 favorite fruits are:
Mango
Strawberry
Pineapple
Blueberry
Watermelon

### Q22. Add a new fruit to your list of favorite fruits.

In [93]:
favorite_fruits = ["Mango", "Strawberry", "Pineapple", "Blueberry", "Watermelon"]
favorite_fruits.append("Kiwi")
print("My updated favorite fruits are:")
for fruit in enumerate(favorite_fruits ):
    print(fruit)

My updated favorite fruits are:
(0, 'Mango')
(1, 'Strawberry')
(2, 'Pineapple')
(3, 'Blueberry')
(4, 'Watermelon')
(5, 'Kiwi')

### Q23. Remove the second item from a list.

In [94]:
favorite_fruits.remove('Strawberry')
print(favorite_fruits)

['Mango', 'Pineapple', 'Blueberry', 'Watermelon', 'Kiwi']

### Q24. Sort a list of numbers in descending order.

In [97]:
numbers = [5, 2, 9, 1, 7]
sorted_numbers = sorted(numbers, reverse=True)
print("Original list:", numbers)
print("Sorted list (descending):", sorted_numbers)

Original list: [5, 2, 9, 1, 7]
Sorted list (descending): [9, 7, 5, 2, 1]

### Q25. Find the maximum and minimum values in a list.

In [98]:
salary = [9000, 8505, 7000, 9100, 9180]
print(max(salary))
print(min(salary))

9180
7000

### Q26. Count how many times a value appears in a list.

In [100]:
my_list = [2, 5, 2, 8, 2, 9, 5]
count = my_list.count(2)
print(f"The value {my_list} appears {count} times.")

The value [2, 5, 2, 8, 2, 9, 5] appears 3 times.

### Q27. Check if a specific value exists in a list.

In [130]:
my_list = [2, 5, 2, 8, 2, 9, 5]
value =5

if value in my_list:
    print(f"{value} exists in the list!")
else:
    print(f"{value} does NOT exist in the list.")

5 exists in the list!

### Q28. Reverse a list without using reverse() function.

In [ ]:
my_list = [10, 20, 30, 40]
reversed_list = []

for item in my_list:
    reversed_list.insert(0, item)  

print("Reversed:", reversed_list)

Reversed: [40, 30, 20, 10]

### Q29. Make a copy of a list and modify the copy only.

In [105]:
my_list = [10, 20, 30, 40]
copied_list = my_list.copy()  
copied_list.append(5)

print("Original:", my_list) 
print("Modified Copy:", copied_list)

Original: [10, 20, 30, 40]
Modified Copy: [10, 20, 30, 40, 5]

### Q30. Use slicing to get the first 3 items of a list.

In [106]:
my_list = [10, 20, 30, 40, 50]
first_three = my_list[0:3]  

print("Original list:", my_list)
print("First 3 items:", first_three)

Original list: [10, 20, 30, 40, 50]
First 3 items: [10, 20, 30]

### Q31. Create a tuple with 4 elements and print its length.

In [108]:
t = (10, "apple", 3.1, True)

print("Tuple:", t)
print("Length:", len(t))

Tuple: (10, 'apple', 3.1, True)
Length: 4

### Q32. Access the last element of a tuple.

In [112]:
t = (10, "apple", 3.1, True)

print("Tuple:", t)
print("Length:", len(t))
last_element = t[-1]
print("Last element:", last_element)

Tuple: (10, 'apple', 3.1, True)
Length: 4
Last element: True

### Q33. Convert a tuple into a list.

In [ ]:
t = (10, "apple", 3.1, True)
l = list(t)
print("Converted list:", l, type(l))

Converted list: [10, 'apple', 3.1, True] <class 'list'>

### Q34. Convert a list into a tuple.

In [ ]:
t = (10, "apple", 3.1, True)
t = tuple(l)
print("Converted tuple:", t, type(t))

Converted tuple: (10, 'apple', 3.1, True) <class 'tuple'>

### Q35. Check if a value exists in a tuple.

In [ ]:
t = (10, 20, 30, 40, 50)
value = 30
if value in t:
    print(f"{value} exists in the tuple!")
else:
    print(f"{value} does NOT exist in the tuple.")

30 exists in the tuple!

### Q36. Concatenate two tuples.

In [117]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

s = tuple1 + tuple2

print("Combined tuple:", s)

Combined tuple: (1, 2, 3, 'a', 'b', 'c')

### Q37. Repeat a tuple 3 times.

In [ ]:
t = (1, 2, 3)
r = t * 3
print("Repeated tuple:", r)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

### Q38. Find the index of an element in a tuple.

In [119]:
t= ('apple', 'banana', 'cherry', 'banana')

index = t.index('cherry')
print(f"Index of 'cherry': {index}")

Index of 'cherry': 2

### Q39. Use tuple unpacking to assign values to variables.

In [121]:
person = ("mohamed", 23, "cairo")

name, age, city = person

print(f"Name: {name}, Age: {age}, City: {city}")

Name: mohamed, Age: 23, City: cairo

### Q40. Create a nested list and access an inner element.

In [155]:
nested_list = [  [1, 2, 3],  [4, 5, 6], [7, 8, 9]]

mixed_nested_list = [ ["apple", "banana", "cherry"], [1.5, 2.7, 3.14], [True, False, None], ["a", ["b", "c"], "d"]]
print(mixed_nested_list)

[['apple', 'banana', 'cherry'], [1.5, 2.7, 3.14], [True, False, None], ['a', ['b', 'c'], 'd']]

### Q41. Create a set of 5 unique colors.

In [122]:
colors = {"red", "blue", "green", "yellow", "purple"}
print( colors)

{'blue', 'yellow', 'red', 'purple', 'green'}

### Q42. Add a new color to the set.

In [ ]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.add("orange")
print("Updated set:", colors)

Updated set: {'blue', 'orange', 'yellow', 'red', 'purple', 'green'}

### Q43. Remove an item from the set using `remove()`.

In [124]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.remove("green")
print("Updated set:", colors)

Updated set: {'blue', 'yellow', 'red', 'purple'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [ ]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.discard("blue")  
colors.discard("pink")  
print("Updated set:", colors)

Updated set: {'yellow', 'red', 'purple', 'green'}

### Q45. Create a set from a list with duplicate values.

In [126]:
my_list = [2, 3, 2, 5, 8, 5, "apple", "apple", True, True]

unique_set = set(my_list)

print("Original list:", my_list)
print("Set with duplicates removed:", unique_set)

Original list: [2, 3, 2, 5, 8, 5, 'apple', 'apple', True, True]
Set with duplicates removed: {True, 2, 3, 5, 8, 'apple'}

### Q46. Find the union of two sets.

In [127]:
set_A = {1, 2, 3}
set_B = {3, 4, 5}
union_set = set_A.union(set_B)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

### Q47. Find the intersection of two sets.

In [128]:
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}
intersection_set = set_A.intersection(set_B)
print("Intersection:", intersection_set)

Intersection: {3, 4}

### Q48. Find the difference between two sets.

In [ ]:
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}
diff_A = set_A.difference(set_B)
 print("set_A - set_B:", diff_A)  
diff_B = set_B.difference(set_A)
 print("set_B - set_A:", diff_B)

set_A - set_B: {1, 2}
set_B - set_A: {5, 6}

### Q49. Check if a set is a subset of another set.

In [131]:
set_A = {1, 2}
set_B = {1, 2, 3, 4}
is_subset = set_A.issubset(set_B)
print(f"Is {set_A} a subset of {set_B}? {is_subset}")

Is {1, 2} a subset of {1, 2, 3, 4}? True

### Q50. Check if two sets are disjoint.

In [132]:
set_A = {1, 2, 3}
set_B = {4, 5, 6}
are_disjoint = set_A.isdisjoint(set_B)
print(f"Are {set_A} and {set_B} disjoint? {are_disjoint}")

Are {1, 2, 3} and {4, 5, 6} disjoint? True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [133]:
my_dect={"name": "Mohamed","age": 23, "city": "cairo"}
print(my_dect)

{'name': 'Mohamed', 'age': 23, 'city': 'cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [134]:
my_dect = {"name": "Mohamed","age": 23, "city": "cairo"}
my_dect["occupation"] = "Software Engineer"
print("Updated dictionary:", my_dect)

Updated dictionary: {'name': 'Mohamed', 'age': 23, 'city': 'cairo', 'occupation': 'Software Engineer'}

### Q53. Update the value of an existing key in the dictionary.

In [ ]:
my_dect = {"name": "Mohamed","age": 23, "city": "cairo"}

my_dect["age"] = 24

print("Updated dictionary:", my_dect)

Updated dictionary: {'name': 'Mohamed', 'age': 24, 'city': 'cairo'}

### Q54. Remove a key from the dictionary using `pop()`.

In [ ]:
my_dect = {"name": "Mohamed","age": 23, "city": "cairo"}
removed_value = my_dect.pop("age")

print("Removed value:", removed_value)
print("Updated dictionary:", my_dect)

Removed value: 23
Updated dictionary: {'name': 'Mohamed', 'city': 'cairo'}

### Q55. Check if a key exists in the dictionary.

In [140]:
my_dect = {"name": "Mohamed","age": 23, "city": "cairo"}

if "age" in my_dect:
    print("Key 'age' exists! Value:", my_dect["age"])
else:
    print("Key 'age' not found.")

Key 'age' exists! Value: 23

### Q56. Loop through a dictionary and print all keys and values.

In [141]:
my_dect = {"name": "Mohamed","age": 23, "city": "cairo"}

for key, value in my_dect.items():
    print(f"{key}: {value}")

name: Mohamed
age: 23
city: cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [143]:
my_dect = {"name": "Mohamed","age": 23, "city": "cairo"}
keys = my_dect.keys()
print("Keys:", keys)

Keys: dict_keys(['name', 'age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [145]:
my_dect = {"name": "Mohamed","age": 23, "city": "cairo"}
values = my_dect.values()
print("Values:", values)

Values: dict_values(['Mohamed', 23, 'cairo'])

### Q59. Get all key-value pairs using `items()`.

In [146]:
my_dect = {"name": "Mohamed","age": 23, "city": "cairo"}

for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: mohamed
Key: age, Value: 23
Key: city, Value: cairo

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [ ]:
keys = ['name', 'age', 'city']
values = ['mohamed', 23, 'cairo']
my_dict = {}
for i in range(len(keys)):
    my_dict[keys[i]] = values[i]
print(my_dict)

{'name': 'mohamed', 'age': 23, 'city': 'cairo'}